{{- include header }}
<div class="content row">
  <div class="col-md-1"></div>
  <div class="index-container col-md-7">
  </div>
  <div class="about-container col-md-7">
    <h3>基本信息</h3> 
    <ul>
      <li>姓名：彭慧</li>
      <li>性别：男</li>
      <li>学历：本科</li>
      <li>email:penghui1012@gmail.com</li>
      <li>电话：15527928085</li>
      <li>github:<a href="http://github.com/huip" target = "_blank">github.com/huip</a></li>
      <li>博客 : <a href="#/index">huip.org</a></li>
    </ul>
    <hr>
    <h3>标签</h3>
    <p>前端开发，后台开发，技术宅，果粉，互联网爱好者，知乎，google，stackoverflow,coderwall，v2ex，豆瓣</p>
    <hr>
    <h3>教育经历</h3>
    <p>2010－2014年中南民族大学经济学院金融学</p>
    <hr>
    <h3>技能</h3>
    <ul>
      <li>能够无障碍的读懂各种英语文档</li>
      <li>html,css,javascript,jquery,backbone,coffeescript，bootstrap</li>
      <li>php,Symfony,CodeIgniter</li>
      <li>nodejs,express</li>
      <li>Ubuntu,Windows,OSX</li>
      <li>mysql,mongodb</li>
      <li>熟悉linux环境下的lamp的搭建,以及常用的命令行工具</li>
      <li>sublime,vim</li>
    </ul>
    <hr>
    <h3>项目经验</h3>

    <ul>
      <li>
        <p>
          2013年03月01 至 04月01 中南民族大学知识问答平台故问 
          职责：独立完成了该项目，负责前端各个页面的架构和开发，php后台逻辑的开发，项目数据库的设计和架构
          项目地址：guwen.stuzone.com
        </p>
      </li>
      <li>
        <p>
          2013年01月01 至 05月01 至今 uuouu项目 
          职责：负责前端页面的开发和在线编辑器的开发，参与了部分后台api的开发
          项目地址：uuouu.net
        </p>
      </li>
      <li>
        <p>2012年5月27武汉地区code jam活动荣获最佳团队奖和最佳设计奖。</p>
      </li>
      <li>
        <p>2012年03月 至 2012年05月 比特工场学生市场项目 
        职责：负责前端页面的开发，以及部分js组件的开发。
        地址：market.stuzone.com
        </p>
      </li>
    </ul>
    <hr>
    <h3>工作经验</h3>
    <ul>
      <li>
        <p>
        2013年07月 至 今 北京清华大学colorwork创业团队<br>
        职位：web开发工程师<br>
        职责：参与colorwork网站的开发和基于nodejs的在线多人实时协作文档的开发
        </p>
      </li>
      <li>
        <p>
          2012年07月 至 2012年09月 光庭导航科技公司（武汉） 移动事业部 导航系统部<br>
          职位：测试助理工程师(实习）<br>
          职责：参与公司嵌入式导航系统html5化，参与篮球汇项目webservice的设计和开发
        </p>
    </ul>
  </div>
  <div class="pull-right site-widgets  col-md-3">
  </div>
</div>
{{- include footer }}
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
