{{- include header }}
<div class="content row">
  <div class="col-md-1"></div>
  <div class="about-container col-md-7">
  <h2>彭慧个人简历</h2>
  <hr />
  <h3>基本信息</h3>
  <ul>
  <li>彭慧,男</li>
  <li>中南民族大学2010级本科，经济学院金融学专业</li>
  <li>电话：15527928085,邮箱：penghui1012@gmail.com</li>
  </ul>
  <hr />
  <h3>求职意向</h3>
  <p>web前端开发工程师</p>
  <hr />
  <h3>技能树</h3>
  <ul>
  <li>较为熟练：html,css,javascript,php,mysql,coffeescript</li>
  <li>有所涉及：mongodb,python,node.js,apache,nginx</li>
  <li>所用框架架：CodeIgniter,Bootstrap,Jquery,
  Backbone,Underscore,Sea,Express,Symfony,Tornado</li>
  <li>工具利器：vim,sublime,chrome,git,Navicat Premium</li>
  <li>操作系统：Ubuntu,windows,osx</li>
  </ul>
  <hr />
  <h3>工作经验</h3>
  <ul>
  <li>2014年2月 至今 百度复合搜索部<br/>
  职位：web前端开发工程师<br/>
  职责：参与百度商桥的前端开发</li>

  <li>2013年07月 至 2013年10月 北京清华大学colorwork创业团队<br/>
  职位：web开发工程师<br/>
  职责：参与colorwork网站的开发和基于node.js的在线多人实时协作文档的开发</li>
  <li>2012年07月 至 2012年09月 光庭导航科技公司（武汉） 移动事业部 导航系统部<br/>
  职位：测试助理工程师(实习)<br/>
  职责：参与公司嵌入式导航系统html5化，参与篮球汇项目webservice的设计和开发</li>
  </ul>
  <hr />
  <h3>个人作品</h3>
    <ul>
        <li>
            2013年11月 至 12月｜重构故问<br/>
            项目介绍：重构故问项目<br/>
            关键热词：node聊天器，sea.js，backbone，underscore，coffeescript，php
        </li>
        <li>
            2013年10月 至 11月｜个人博客<br/>
           项目介绍：个人博客系统，满足日常写作分享<br/>
            关键热词：独立开发；开源；服务端（node.js,mongodb,markdown语法支持）前端(coffeescript,stylus,Bootstrap3,jquery）
        </li>
        <li>
            2013年03月01 至 04月01 中南民族大学知识问答平台故问<br/>
            项目介绍：基于校园的类似知乎的问答社区
            关键热词：独立开发，php(CodeIgniter)后台开发，mysql，前端开发(Bootstrap2,Jquery)
        </li>
    </ul>
    <hr />
    <h3>社区&amp;社交</h3>
    <ul>
        <li><a href="http://github.com/huip">Github</a>，<a href="https://coderwall.com/huip">Coderwall</a></li>
        <li><a href="http://www.douban.com/people/67273422/"> Douban</a></li>
        <li><a href="http://www.huip.org/"> 个人主页</a></li>
    </ul>
    <hr />
    <h3>关于我</h3>
    <ul>
        <li>爱好编程,团队合作能力强,性格开朗</li>
        <li>熟悉LMAP开发,关注前端开发,熟悉git等工具</li>
    </ul>    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'huip'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {{- include widgets }}
</div>
{{- include footer }}
