{{- include header }}
<div class="content row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">blog's dashbord</div>
      <table class="table">
        <thead>
          <tr>
            <th>title</th>
            <th>author</th>
            <th>time</th>
            <th>operator</th>
          </tr>
        </thead>
        {{ posts.forEach(function(post) { }}
      <tbody>
      <tr>
        <td><a href="/#p/{{= post._id }}">{{= post.title }}</td>
          <td>{{= post.name }}</td>
          <td>{{= post.time.day }}</td>
          <td>
            <div class="remove-article btn btn-danger" href="api/p/remove/{{=post._id}}">
              Trash
            </div>
          </a>
          <a href="/admin/p/edit/{{= post._id}}">
            <div class="btn btn-primary">
              <i class="edit icon"></i>
              Edit
            </div>
          </a>
        </td>
     </tr>
    </tbody>
    {{ }) }}
      </table>
    </div>
    <ul class=" pagination">
      {{ if (!isFirstPage) { }}
      <li>
        <a class="item" href="/admin/list/{{=page-1}}">
          <i class="icon left arrow"></i> Previous
        </a>
      </li>
      {{  } }}
      {{ for(var i= 1 ; i<= numPage; i++) { }}
        <li><a class="item" href="/admin/list/{{=i}}">{{=i}}</a></li>
      {{  } }}
      {{ if (!isLastPage) { }}
        <li>
          <a class="item" href="/admin/list/{{=page+1}}">
            Next <i class="icon right arrow"></i>
          </a>
        </li>
     {{  } }}
  </ul>
 </div>
 <div class="col-md-1"></div>
 </div>
{{- include footer}}
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/semantic.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
<script src='/javascripts/admin.js'></script>
</html>
