<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrap">
      <div class="brand">
        <div class="item">
          <h4>{{= brand }}</h4>
        </div>
        <div class="nav-bar">
         <div class="ui menu">
           <a class="nav-index item" href="/admin">{{= list }}</a>
           <a class="nav-index item" href="/admin/post">{{= list }}</a>
         </div>
        </div>
       </div>
       <div class="content">
         
       </div>
       <div class="footer">
       </div>
    </div>
  </body>
  <script src='/javascripts/jquery-1.10.2.min.js'></script>
  <script src='/javascripts/semantic.min.js'></script>
  <script src='/javascripts/underscore-min.js'></script>
  <script src='/javascripts/backbone-min.js'></script>
  <script src='/javascripts/admin.js'></script>
</html>
