{{- include header}}
<div class="content">
  <div class="ui form">
    <div class="field">
      <label>title</label>
      <input class="edit-title" type="text" value="{{= posts.title }}">
    </div>
  </div>
  <div class="ui form">
    <div class="field">
      <label>tags</label>
      <input class="edit-tags" type="text" value="{{= posts.tags }}">
    </div>
  </div>
  <div class="ui form">
    <div class="field">
      <label>post</label>
      <textarea class="edit-post">{{= posts.post }}</textarea>
    </div>
  </div>
  <input type="button" pid="{{=posts._id}}" class="ui button circular edit-btn" value="update" />
</div>
<div class="footer">
</div>
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/semantic.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
<script src='/javascripts/admin.js'></script>
</html>
