<div class="footer row">
  <div class="site-info">
    <div style="font-family:Monaco, MonacoRegular, 'Courier New', monospace; color:#777; text-align: center;">
     Since Feb 2012. Powered by <a href="/#about" rel="author">huip</a>
    </div>
  </div>    
</div>
