<div class="footer row">
  <div class="site-info">
    <div style="font-family:Monaco, MonacoRegular, 'Courier New', monospace; color:#777; text-align: center;">
     Since Nov 2013. Orginally designed by <a href="http://getbootstrap.com/" target="_blank" >Bootstrap</a>. 
     It's a opensource <a href="https://github.com/huip/myblog" target="_blank">blog</a> system by myself. 
     Powered by <a href="/#about" rel="author">huip</a>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)
   },i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45976880-1', 'huip.org');
    ga('send', 'pageview');
    </script>
</div>
