{{- include header }}
<div class="content row">
  <div class="col-md-1"></div>
  <div class="index-container col-md-7">
    <div class="index-area">
    {{ posts.forEach(function(article) {  }}
      <div class="panel panel-default list-area">
        <div class="panel-heading entry-title"><a href="/p/{{=article._id}}">{{=article.title}}</a></div>
        <div class="panel-body">
          <small class="time-sty">{{=article.time}}</small>
          <p class="article-content">{{-article.post}}</p>
        </div>
      </div>
    {{ }) }}
    {{- include paging }}
    </div>
  </div>
  <div class="pull-right site-widgets  col-md-3">
    <div class="me-widget">
      <h4>ME</h4>
      <div class="huip-logo">
        <img src="http://en.gravatar.com/userimage/43948365/087625e21205aedbbb1d039489c4cff8.jpg" class="img-thumbnail" alt="me">
      </div>
    </div>
  </div>
</div>
{{- include footer }}
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
<!--script src='/javascripts/index.js'></script-->
