{{= include header}}
<div class="login-content">
  <form class="form-horizontal" role="form">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-1 control-label">email</label>
        <div class="col-sm-6">
          <input type="text" class="login-email form-control" name="email" placeholder="email">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">password</label>
        <div class="col-sm-6">
          <input type="password" class="login-password form-control" name="password" placeholder="email">
        </div>
      </div>
      <div class="btn btn-primary login-btn">Login</div>
    </fieldset>
  </form>
</div>
<div class="footer">
</div>
</body>
<script src='/javascripts/jquery-1.10.2.min.js'></script>
<script src='/javascripts/semantic.min.js'></script>
<script src='/javascripts/underscore-min.js'></script>
<script src='/javascripts/backbone-min.js'></script>
<script src='/javascripts/admin.js'></script>
</html>
