<!DOCTYPE html>
<html>
  <head>
    <title>{{=title}}</title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrap">
      <div class="login-content">
        <div class="login-area ui grid center">
          <div class="ui form segment column wide middle six">
              <div class="field">
                <label>email</label>
                <div class="ui left labeled icon input">
                  <input type="text" class="login-email wide three" name="email" placeholder="email">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>password</label>
                <div class="ui left labeled icon input">
                  <input type="password" class="login-password column" name="password" placeholder="email">
                  <i class="lock icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="ui blue button login-btn">Login</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
  <script src='/javascripts/jquery-1.10.2.min.js'></script>
  <script src='/javascripts/semantic.min.js'></script>
  <script src='/javascripts/underscore-min.js'></script>
  <script src='/javascripts/backbone-min.js'></script>
  <script src='/javascripts/admin.js'></script>
</html>
