{{= include header}}
<div class="login-container row">
  <div class="col-md-4"></div>
  <form class="form-horizontal login-area  col-md-4" role="form">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">email</label>
        <div class="col-sm-8">
          <input type="text" class="login-email form-control" name="email" placeholder="email">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">password</label>
        <div class="col-sm-8">
          <input type="password" class="login-password form-control" name="password" placeholder="password">
        </div>
      </div>
       <div class="error-tip"></div>
      <div class="btn btn-primary login-btn">Login</div>
    </fieldset>
  </form>
  <div class="col-md-4"></div>
</div>
{{- include footer}}
