{{- include header}}
<div class="content row">
<div class="post-container col-md-12" role="form">
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">save post</h4>
        </div>
        <div class="modal-body" style="margin:5px 0 0 0">
          <div class="post-info">
            <div class="form-group">
                <label class="col-sm-2 control-label">title</label>
                <div class="col-sm-10">
                  <input class="post-title form-control" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">categories</label>
                <div class="col-sm-10">
                  <select class="post-categories form-control">
                  {{ categories.forEach(function(cate) { }}
                    <option value="{{=cate}}">{{=cate}}</option>
                  {{  }) }}
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">tags</label>
                <div class="col-sm-10">
                  <select class="post-tags tags form-control">
                  {{ tags.forEach(function(tag) { }}
                    <option value="{{=tag}}">{{=tag}}</option>
                  {{  }) }}
                  </select>
                  <br />
                  <input type="text" class="form-control input-tag" placeholder="create tags" />
                  <br />
                  <div class="btn btn-primary hides create-tag">create</div>
               </div>
            </div>
           </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn post-btn btn-primary">Save</button>
          </div>
     </div>
 </div>
 </div>
 <div class="editor-area col-md-12">
      <div class="col-md-12 post-button-bar">
        <div id="wmd-button-bar" class="pull-left"></div>
        <div class="post-edit pull-right">
          <input type="button" class="btn btn-primary post"data-toggle="modal" data-target="#editModal"  value="save" />
        </div>
        <div id="wmd-button-bar"></div>
     </div>
     <textarea class="wmd-input  post-post form-control col-md-6 pull-left " id="wmd-input"></textarea>
     <div id="wmd-preview" class="wmd-preview col-md-6 pull-right"></div>
  </div>
</div>
</div>
{{- include footer}}
<script src="/javascripts/Markdown.Converter.js"></script>
<script src="/javascripts/Markdown.Sanitizer.js"></script>
<script src="/javascripts/Markdown.Editor.js"></script>
<script>
(function () {
 var converter1 = Markdown.getSanitizingConverter();
 converter1.hooks.chain("preBlockGamut", function (text, rbg) {
   return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, 
     function (whole, inner) {
       return "<blockquote>" + rbg(inner) + "</blockquote>\n";
     });
   });
 var editor1 = new Markdown.Editor(converter1);
 editor1.run();
 var converter2 = new Markdown.Converter();
 converter2.hooks.chain("preConversion", function (text) {
     return text.replace(/\b(a\w*)/gi, "*$1*");
 });
 converter2.hooks.chain("plainLinkText", function (url) {
     return "This is a link to " + url.replace(/^https?:\/\//, "");
 });
 var help = function () { alert("Do you need help?");  }
 var options = {
    helpButton: { handler: help  },
    strings: { quoteexample: "whatever you're quoting, put it right here"  }
 };
 var editor2 = new Markdown.Editor(converter2, "-second", options);
 editor2.run();
 })();
</script>
</html>
