<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrap">
      <div class="brand">
        <div class="item">
          <h4><%= brand %></h4>
        </div>
        <div class="nav-bar">
         <div class="ui menu">
           <a class="nav-index item" href="/admin"><%= list %></a>
           <a class="nav-index item" href="/admin/post"><%= post %></a>
         </div>
        </div>
       </div>
       <div class="content">
         <div class="ui form">
          <div class="field">
            <label>title</label>
            <input type="text">
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label>cate</label>
            <input type="text">
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label>content</label>
            <textarea></textarea>
          </div>
        </div>
        <input type="button" class="ui button circular" value="post" />
       </div>
       <div class="footer">
       </div>
    </div>
  </body>
  <script src='/javascripts/jquery-1.10.2.min.js'></script>
  <script src='/javascripts/semantic.min.js'></script>
  <script src='/javascripts/underscore-min.js'></script>
  <script src='/javascripts/backbone-min.js'></script>
  <script src='/javascripts/index.js'></script>
</html>
