<h2>彭慧个人简历</h2>
<h3>基本信息</h3>
<ul>
<li>彭慧,男</li>
<li>中南民族大学2010级本科，经济学院金融学专业</li>
<li>电话：15527928085,邮箱：penghui1012@gmail.com</li>
</ul>
<h3>求职意向</h3>
<ul>
<li>web前端开发工程师</li>
</ul>
<h3>技能树</h3>
<ul>
<li>较为熟练：html,css,javascript,php,mysql,coffeescript</li>
<li>有所涉及：mongodb,python,node.js,apache,nginx</li>
<li>所用框架:CodeIgniter,Bootstrap,Jquery,stylus,Backbone,
Underscore,Sea,Express,Symfony,Tornado</li>
<li>工具利器：vim,sublime,chrome,git,Navicat Premium</li>
<li>操作系统：osx,ubuntu,windows</li>
</ul>
<h3>工作经验</h3>
<ul>
<li><p>2014年2月 至今 百度复合搜索部   </p>
<p>职位：web前端开发工程师(实习)<br>职责：参与百度商桥的前端开发  </p>
</li>
<li><p>2013年07月 至 2013年10月 北京清华大学colorwork创业团队 </p>
<p>职位：web开发工程师<br>职责：参与colorwork网站的开发和基于node.js的在线多人实时协作文档的开发  </p>
</li>
<li><p>2012年07月 至 2012年09月 光庭导航科技公司（武汉） 移动事业部 导航系统部</p>
<p>职位：测试助理工程师(实习)<br>职责：参与公司嵌入式导航系统html5化，参与篮球汇项目webservice的设计和开发</p>
</li>
</ul>
<h3>个人作品</h3>
<ul>
<li><p>2013年10月 至 11月｜个人博客  </p>
<p> 项目介绍：个人博客系统，满足日常写作分享<br> 关键热词：独立开发；开源；服务端（node.js,mongodb,markdown语法支持）前端(coffeescript,stylus,Bootstrap3,Jquery)  </p>
</li>
<li><p>2013年03月01 至 04月01 | 中南民族大学知识问答平台故问  </p>
<p>项目介绍：基于校园的类似知乎的问答社区<br>关键热词：独立开发，php(CodeIgniter)后台开发，mysql，前端开发(Bootstrap2,Jquery)</p>
</li>
<li><p>更多详见 <a href="github.com/huip">Github</a></p>
</li>
</ul>
<h3>社区&amp;社交</h3>
<ul>
<li><p><a href="github.com/huip">Github</a> <a href="coderwall.com/huip">Coderwall</a> <a href="http://stackoverflow.com/users/2318609/user2318609">Stackoverflow]</a></p>
</li>
<li><p><a href="www.huip.org">个人主页</a></p>
</li>
</ul>
<h3><a href="/resume" style="color:#000;">下载简历</a></h3>
