<div class="me-widget">
  <h4>ME</h4>
  <div class="huip-logo">
    <img src="http://en.gravatar.com/userimage/43948365/087625e21205aedbbb1d039489c4cff8.jpg" class="img-thumbnail" alt="me">
  </div>
</div>
<div class="recent-widget">
  <h4>RECENT POST</h4>
</div>
<div class="cat-widget">
  <h4>CATEGORIES</h4>
  <div class="cat-list">
    {{ widgets.categories.forEach(function(cate){ }}
      <div class="cat-item"><a href="/p/categories/{{=cate}}">{{=cate}}</a></div>
    {{  }) }}
  </div>
</div>
<div class="friends-widget">
  <h4>FRENDS</h4>
  <div class="friends">
    <div><a href="http://mex7.org/" target="_blank">Mex</a></div>
    <div><a href="http://www.solome.org/" target="_blank">solo</a></div>
    <div><a href="http://www.ysmood.org/" target="_blank">ys</a></div>
  </div>
</div>
