<div class="pull-right col-md-1">
</div>
<div class="pull-right site-widgets  col-md-2">
  <div class="me-widget">
    <h4>ME</h4>
    <div class="huip-logo">
      <img src="http://en.gravatar.com/userimage/43948365/087625e21205aedbbb1d039489c4cff8.jpg" class="img-thumbnail" alt="me">
    </div>
  </div>
  <div class="recent-widget">
    <h4>RECENT POST</h4>
    <div class="cat-list">
      {{ widgets.recents.forEach(function(recent){ }}
        <div class="cat-item"><a href="/p/{{=recent._id}}">{{=recent.title}}</a></div>
      {{  }) }}
    </div>
  </div>
  <div class="tags-widget">
    <h4>ARCHIVE</h4>
    <div class="cat-list">
      {{ widgets.archive.forEach(function(archive){ }}
        <div class="cat-item"><a href="/w/archive/{{=archive}}">{{=archive}}</a></div>
      {{  }) }}
    </div>
  </div>
  <div class="cat-widget">
    <h4>CATEGORIES</h4>
    <div class="cat-list">
      {{ widgets.categories.forEach(function(cate){ }}
        <div class="cat-item"><a href="/w/categorie/{{=cate}}">{{=cate}}</a></div>
      {{  }) }}
    </div>
  </div>
  <div class="tags-widget">
    <h4>TAGS</h4>
    <div class="cat-list">
      {{ widgets.tags.forEach(function(tag){ }}
        <div class="cat-item"><a href="/w/tag/{{=tag}}">{{=tag}}</a></div>
      {{  }) }}
    </div>
  </div>
  <div class="friends-widget">
    <h4>FRENDS</h4>
    <div class="friends">
      <div><a href="http://mex7.org/" target="_blank">Mex</a></div>
      <div><a href="http://www.solome.org/" target="_blank">solo</a></div>
      <div><a href="http://www.ysmood.org/" target="_blank">ys</a></div>
    </div>
  </div>
</div>
