{{- include header }}
<div class="content row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <ul class="words-area">
    </ul>
  </div>
  {{- include widgets }}
  </div>
</div>
{{- include footer }}
