body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 10px;
}
a {
  color: #00b7ff;
  under-line: none;
}
.wrap {
  width: 100%;
  height: 100%;
}
.brand {
  heigth: 100px;
  width: 50%;
  font-size: 20px;
  margin: 5px 0 0 5%;
}
.content {
  margin: 70px 0 0 0;
}
.index-area {
  line-height: 25px;
}
.login-area {
  margin: 60px auto;
}
.login-form {
  border: 1px solid #ddd;
  width: 560px;
  height: 200px;
  margin: 50px 0 0 0;
  padding: 30px 10px 30px 30px;
  border-radius: 5px;
}
.login-btn {
  margin: 10px 0 0 200px;
}
.register-area {
  margin: 60px auto;
}
.register-form {
  border: 1px solid #ddd;
  width: 560px;
  height: 250px;
  margin: 50px 0 0 0;
  padding: 30px 10px 30px 30px;
  border-radius: 5px;
}
.register-btn {
  margin: 10px 0 0 200px;
}
.index-article-area {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0 0 0;
  min-height: 200px;
  border-radius: 5px;
}
.article-area {
  line-height: 25px;
  word-break: break-all;
  white-space: normal;
}
.footer {
  margin: 50px 0 0 0;
  padding: 0 0 20px 0;
}
