body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 10px;
  background: url("../images/bg.png");
}
a {
  under-line: none;
}
.wrap {
  width: 100%;
  height: 100%;
}
.brand {
  heigth: 100px;
  width: 50%;
  font-size: 20px;
  margin: 5px 0 0 5%;
}
.content {
  margin: 100px 0 0 0;
}
.footer {
  margin: 50px 0 0 0;
  padding: 0 0 20px 0;
}
.index-container .index-area {
  line-height: 25px;
}
.index-container .list-area {
  height: 350px;
  overflow: hidden;
}
.index-container .list-area .entry-title {
  font-size: 2em;
}
.index-container .list-area .entry-title a {
  color: #000;
}
.index-container .post-status {
  color: #a9a9a9;
}
.login-area {
  margin: 60px auto;
}
.login-area .login-form {
  border: 1px solid #ddd;
  width: 560px;
  height: 200px;
  margin: 50px 0 0 0;
  padding: 30px 10px 30px 30px;
  border-radius: 5px;
}
.login-area .login-btn {
  margin: 10px 0 0 200px;
}
.register-area {
  margin: 60px auto;
}
.register-area .register-form {
  border: 1px solid #ddd;
  width: 560px;
  height: 250px;
  margin: 50px 0 0 0;
  padding: 30px 10px 30px 30px;
  border-radius: 5px;
}
.register-area .register-btn {
  margin: 10px 0 0 200px;
}
.page-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 25px;
}
.page-container .post-area {
  line-height: 25px;
  word-break: break-all;
  white-space: normal;
}
.page-container a {
  color: #a9a9a9;
}
.page-container .post-status {
  color: #a9a9a9;
}
.about-container {
  line-height: 2em;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.input-tag {
  display: none;
}
.site-widgets {
  margin: 0 0px 0 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  padding: 10px 0 10px 40px;
}
.site-widgets a {
  color: #9f9f9e;
  font-size: 1.1em;
  line-height: 1.8em;
  text-decoration: underline;
}
.site-widgets a:hover {
  color: #21759b;
}
.site-widgets h4 {
  font-size: 1.6em;
}
.site-widgets .me-widget .huip-logo {
  margin: 20px 0 0 0;
}
.site-widgets .cat-widget {
  margin: 40px 0 0 0;
}
.site-widgets .cat-widget .cat-list {
  margin: 20px 0 0 0;
}
.site-widgets .recent-widget {
  margin: 40px 0 0 0;
}
.site-widgets .recent-widget .recent-list {
  margin: 20px 0 0 0;
}
.site-widgets .recent-widget .recent-list .recent {
  line-height: 15px;
}
.site-widgets .friends-widget {
  margin: 40px 0 0 0;
}
.site-widgets .friends-widget .friends {
  margin: 20px 0 0 0;
}
.time-sty {
  font-family: Georgia, Tahoma, Helvetica, arial;
  color: #a9a9a9;
}
