body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding: 0px
  margin: 0px
  line-height:10px
a
  under-line:none
.wrap
  width:100%
  height:100%
.brand
  heigth: 100px
  width:50%
  font-size: 20px
  margin:5px 0 0 5%
.content
  margin:100px 0 0 0
.index-area
  line-height:25px
.login-area
  margin:60px auto
.login-form
  border:1px solid #ddd
  width:560px
  height:200px
  margin:50px 0 0 0;
  padding:30px 10px 30px 30px
  border-radius:5px
.login-btn
  margin:10px 0 0 200px
.register-area
  margin:60px auto
.register-form
  border:1px solid #ddd
  width:560px
  height:250px
  margin:50px 0 0 0
  padding:30px 10px 30px 30px
  border-radius:5px
.register-btn
  margin:10px 0 0 200px
.index-article-area
  border:1px solid #ddd
  padding:10px
  margin:10px 0 0 0
  min-height:200px
  border-radius:5px
.article-area
  line-height:25px
  word-break:break-all
  white-space:normal
.about-container
  line-height:2em
.footer
  margin:50px 0 0 0
  padding:0 0 20px 0
// post page add tag input
.input-tag
  display:none
// recent post wigets
.post-wigets
  div
    line-height:20px
.article-status
  color:#a9a9a9;
.list-area
  height:350px
  overflow:hidden
  .entry-title
    font-size:2em
    a
      color:black
.time-sty
  font-family:Georgia,Tahoma,Helvetica,arial
  color:gray
.cat-title
  color:#9F9F9E
 // site widgets
.site-widgets
  margin:0 80px 0 0
  a
    color:#9F9F9E
    font-size:1.1em
    line-height:1.8em
    text-decoration:underline
    &:hover
      color:#21759b
  h4
    font-size:1.6em
  .me-widget 
    .huip-logo
      margin:20px 0 0 0
  .cat-widget
    margin:40px 0 0 0
    .cat-list
      margin:20px 0 0 0

  .recent-widget
    margin:40px 0 0 0
    .recent-list
      margin:20px 0 0 0
      .recent
        line-height:15px;
  .friends-widget
    margin:40px 0 0 0
    .friends
      margin:20px 0 0 0
    
