body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding: 0px
  margin: 0px
  line-height:10px
  background:url(../images/bg.png)
a
  under-line:none
.wrap
  width:100%
  height:100%
.brand
  heigth: 100px
  width:50%
  font-size: 20px
  margin:5px 0 0 5%
.content
  margin:100px 0 0 0
.footer
  margin:50px 0 0 0
  padding:0 0 20px 0

.index-container
  .index-area
    line-height:25px
  .list-area
    min-height:50px
    max-height:350px
    overflow:hidden
    .entry-title
      font-size:2em
      a
        color:#000
   .post-status
      color:#a9a9a9 
.login-container
  margin:60px auto
  .login-area
    border:1px solid #ddd
    width:600px
    height:250px
    margin:50px 0 0 0;
    padding:50px 10px 30px 30px
    border-radius:5px
    background:#fff
  .error-tip
    height:20px
    width:100%;
    line-height:20px
    text-align:center
  .login-btn
    margin:10px 0 0 45%
.register-container
  margin:60px auto 
  .register-area
    width:600px
    height:300px
    margin:50px 0 0 0
    padding:50px 10px 30px 30px
    border:1px solid #ddd
    border-radius:5px
    background:#fff
    .register-form
      border:1px solid #ddd
      width:560px
      height:250px
      margin:50px 0 0 0
      padding:30px 10px 30px 30px
      border-radius:5px
    .error-tip
      height:20px
      width:100%;
      line-height:20px
      text-align:center
    .register-btn
      margin:10px 0 0 200px

  // post list page
.page-container
  background:#fff
  border:1px solid #ddd
  border-radius:5px
  line-height:25px;
  .post-area
    line-height:25px
    word-break:break-all
    white-space:normal
  a
    color:#a9a9a9
  .post-status
    color:#a9a9a9;
.about-container
  line-height:2em
  background:#fff
  border:1px solid #ddd
  border-radius: 5px;

// post page add tag input
.post-container
  position:absolute
  background:#e6e6e6
  padding:10px
  border:1px solid #ddd
  height:95%
  top:50px
  border-radius:5px
  .wmd-button-row
    background:#fff
    width:690px
    padding:5px
    height:30px
  .wmd-input
    border:0
    min-height:600px
    float:left
    width:50%
  .wmd-preview
    float:right
    min-height:600px
    background:#fcfaf2
  .title-area
    display:none
  .editor-area
    .input-tag
      display:none
  .post-button-bar
    height:50px
    border:1px solid #ddd
    border-radius:5px
    background:#fff
  .post-edit
    margin:5px 0 0 0
  .post-info
    height:200px
    line-height:25px
    .form-group
      margin:20px 0 0 0
    .input-tag
      display:none
 // site widgets
.site-widgets
  margin:0 0px 0 0
  border: 1px solid #ddd
  border-radius: 5px
  background:#fff
  padding:10px 0 10px 40px;
  a
    color:#9F9F9E
    font-size:1.1em
    line-height:1.8em
    text-decoration:underline
    &:hover
      color:#21759b
  h4
    font-size:1.6em
  .me-widget 
    .huip-logo
      margin:20px 0 0 0
  .cat-widget
    margin:40px 0 0 0
    .cat-list
      margin:20px 0 0 0
  .recent-widget
    margin:40px 0 0 0
    .recent-list
      margin:20px 0 0 0
      .recent
        line-height:15px;
  .friends-widget
    margin:40px 0 0 0
    .friends
      margin:20px 0 0 0
 // common parts    
.time-sty
  font-family:Georgia,Tahoma,Helvetica,arial
  color:#a9a9a9
